<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <link rel="stylesheet" href="/css/mylogs.css">

    <!-- <h1>Responsive vertical timeline</h1> -->
    <div class="timeline">
      <ul>    

        <li>
          <div class="content">
            <h3>Got my BS-MS degree</h3>
            <p>Finished my 5 year BS-MS dual degree programme from the Indian Institute of Science Education and Research (IISER), Tirupati.</p>
          </div>
          <div class="time">
            <h4>18th July 2023</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <h3>Code/Astro 2023</h3>
            <p>Attended the <a href="https://semaphorep.github.io/codeastro/">Code/Astro</a> 2023 workshop held at Chicago, IL.</p>
            <img src="https://lh3.googleusercontent.com/pw/AIL4fc_QEHXV7kXrGIyVWQcrOSsB3napfmW9AlArMohjx6p1KnV1YhcEMM5bwZ3NLelOgKIVVOp_nlWxY0U40Myl82IfZmOBVA0m0ME_2mdXLaxmidRzVuIeamc20pFRUXb5N-4kSSpARjqjHoQ7wjLC0pJN=w1264-h948-s-no?authuser=0">
          </div>
          <div class="time">
            <h4>9-15th July 2023</h4>
          </div>
        </li>

		<li>
			<div class="content">
			  <h3>CS50x Puzzle Day</h3>
			  <p>Participated in the CS50x puzzle day organised by the Harvard University, and got the highest score! <a href="/CS50x.jpg">team</a></p>
			  <img src="https://certificates.cs50.io/c6488c9f-5743-4d5d-98f2-f59967dbe7e3.png">
			</div>
			<div class="time">
			  <h4>March 2023</h4>
			</div>
		</li>

		<li>
			<div class="content">
			  <h3>CS50 Puzzle Day</h3>
			  <p>Participated in the CS50 puzzle day organised by the Harvard University, and got a perfect score! <a href="https://cs50.smugmug.com/CS50-Puzzle-Day-2020/i-zL4RXrS/A">team</a></p>
			  <img src="https://certificates.cs50.io/d57da505-9228-45bb-a2f7-1bb7e6c5368a.png">
			</div>
			<div class="time">
			  <h4>September 2020</h4>
			</div>
		</li>

        <li>
            <div class="content">
              <h3>ASI meet</h3>
              <p>Attended the 38th Astronomical Society of India meet held in Tirupati, India.</div>
            <div class="time">
              <h4>February 2020</h4>
            </div>
        </li>

        <li>
          <div class="content">
            <h3>12th grade</h3>
            <p>Completed 12th grade from <a href="https://en.wikipedia.org/wiki/Nagpur">Nagpur, India</a>.</p>
            </div>
          <div class="time">
            <h4>June 2018</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>10th grade</h3>
            <p>Finished schooling till 10th grade.</p>
            </div>
          <div class="time">
            <h4>June 2016</h4>
          </div>
        </li>
        <div style="clear:both;"></div>
      </ul>
    </div>
  </body>